<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= @restaurant.stars %>
  </p>

  <p>Reviews :</p>
  <ul class="list-unstyled">
    <% @restaurant.reviews.each do |review| %>
      <li>
        <% review.rating.times do %>
          <i class="fa fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>
        <br>
        <%= review.comment %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Review this restaurant', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>

  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>

</div>
